@tailwind base;
@tailwind components;
@tailwind utilities;

/* global rules  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* normalize  */
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

@layer components {
    .container {
        @apply mx-auto max-w-[1680px] py-10;
    }
}